<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

	<h1>Edit details for adopter ID: {{adopter.adopter_id}}</h1>

	<form action="{{url_for('adopter_edit', adopter_id = adopter.adopter_id)}}" method='post'>

		<dl>
			<dt>Name:</dt>
			<dd>
				<input type='text' size='30' name='name' placeholder='{{adopter.name}}'>
			</dd>

			<dt>ID number:</dt>
			<dd>{{adopter.adopter_id}}</dd>

		<!--End editing fields-->

	<input type='submit' value='Edit'>
	<div>
		<p>
		<a href="{{url_for('adopter_profile', adopter_id = adopter.adopter_id)}}">Back to adopter profile</a>
		</br>
		<a href="{{url_for('adopter_list')}}">Back to adopter list</a>
		</p>
	</div>

</body>
</html>


