<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class = 'pane'> <!-- Begin content pane -->
<div class = 'header'>
	<h1>{{adopter.name}}</h1>
</div>


<!-- Message Flashing -->
<div class = 'flash'>
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
	<li><strong>{{message}}</strong></li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
</div> <!-- End Message Flashing -->

<p>Name: {{adopter.name}}</p>
<p>ID number: {{adopter.adopter_id}}</p>

</div> <!-- End pane div -->
</body>
</html>



