<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class = 'pane'>
<div class = 'header'>
	<h1>Puppies!</h1>
</div>


<!-- Message Flashing -->
<div class = 'flash'>
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
	<li><strong>{{message}}</strong></li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
</div> <!-- End Message Flashing -->


{% for item in items %}
<div class = 'puppyPane'> <!-- Begin individual Puppy div -->
<div class = 'name'>
	<span class = 'name'><p><a href="{{url_for('puppy_profile', puppy_id = item.puppy_id)}}">{{item.name}}</a></p></span>
</div>

<div class = 'puppyInfo'>
	<p>{{item.puppy_id}}</p>
</div>

<div class = "editDeletePane">
	<a href="{{url_for('puppy_edit', puppy_id = item.puppy_id)}}">Edit</a><br>
	<a href="{{url_for('puppy_delete', puppy_id = item.puppy_id)}}">Delete</a>
</div>


</div> <!-- End individual puppy div -->
{% endfor %}

</div> <!-- End pane div -->
</body>
</html>

