<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class = 'pane'> <!-- Begin content pane -->
<div class = 'header'>
	<h1>{{puppy.name}}</h1>
</div>


<!-- Message Flashing -->
<div class = 'flash'>
{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
	<li><strong>{{message}}</strong></li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
</div> <!-- End Message Flashing -->

<p>Name: {{puppy.name}}</p>
<p>ID number: {{puppy.puppy_id}}</p>
<p>Gender: {{puppy.gender}}</p>
<p>Date of Birth: {{puppy.dateOfBirth}}</p>
<p>Weight: {{puppy.weight}}</p>
<p>Description: {{puppy.profile.description}}</p>
<p>Special needs: {{puppy.profile.specialNeeds}}</p>

<div class = "editDeletePane">
	<a href="{{url_for('puppy_edit', puppy_id = puppy.puppy_id)}}">Edit</a><br>
	<a href="{{url_for('puppy_delete', puppy_id = puppy.puppy_id)}}">Delete</a>
</div>

</div> <!-- End pane div -->
</body>
</html>

